.button-primary{
  display: inline-block;
  height: $navigation-height - 4;
  box-sizing: content-box;
  line-height: $navigation-height - 4;
  border: 2px solid $color-white;
  background-color: $color-blue;
  color: #fff !important;
  font-size: 14px;
  padding: 0 2em;
  transition: background-color .3s linear;
  text-decoration: none;
  a:link, a:visited {
    color: $color-white;
    text-decoration: none;
  }
  &:hover, &:active{
    color: $color-white;
    background: $color-blue-secondary;
    text-decoration: none;
    border: 2px solid $color-white !important;
  }
}

.button-secondary{
  display: inline-block;
  height: $navigation-height - 4;
  box-sizing: content-box;
  line-height: $navigation-height - 4;
  background-color: $color-red-secondary;
  color: #fff !important;
  font-size: 16px;
  padding: 0 2em;
  border-radius: 1.5em;
  transition: background-color .3s linear;
  text-decoration: none;
  a:link, a:visited {
    color: $color-white;
    text-decoration: none;
  }
  &:hover, &:active{
    color: $color-white;
    background: $color-red-secondary;
    text-decoration: none;
  }
}

.button-registration {
  display: block;
  width: 148px;
  height: 48px;
  text-align: center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  line-height: 48px;
  background-color: #fd9535;
  box-shadow: 0 3px 0 #d27d00;
  color: #fff !important;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 700;
  padding: 0 2em;
  border-radius: 24px;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  a:link, a:visited {
    color: $color-white;
    text-decoration: none;
  }
  &:hover, &:active{
    -webkit-transform: translate3d(0px, 3px, 1px);
    transform: translate3d(0px, 3px, 1px);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;

  &:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
}
