
.page-slug-schedule {
  /*
  @include mq(md) {
    #time-table {
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      padding: 40px;
    }
  }
  */
  table {
    @include mq(md) {
      border: 1px solid #999;
      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
    }

    thead {
      th {
        background-color: $color-blue;
        color: #fff;
      }
    }
  }

  .wcpt-col-track {
    @include mq(md) {
      width: 20%;
    }
  }

  .wcpt-time {
    background-color: #ccc;
  }

  .wcpt-session-empty {
    background-color: #f1f1f1;
    border-width: 0;
    border-top-width: 0;
  }

  .wcpt-session-speakers {
    display: block;
    margin-top: .25em;

    a {
      text-decoration: underline;
      color: #666;
    }
  }

  .wcpt-session-speakers::before {
    content: "\f0a1";
    font-family: FontAwesome;
    margin-right: .15em;
    color: #777;
  }

  .wcb-track-1f-hall, .wcb-track-2f-hall, .wcb-track-4f-a, .wcb-track-4f-b {
    border-bottom-width: 0;
  }
  .global-session.-lunch td {
    @include mq(md) {
      background-color: #fffde3;
    }
  }
  .wcpt-time {
    background-color: #ccc;
  }
}
