.sd-social-icon-text .sd-content li.share-custom a span {
  background-size: 15px 15px;
  background-repeat: no-repeat;
  margin-left: 0;
  padding: 0 0 0 19px;
  display: inline-block;
  height: 20px;
  line-height: 17px;
}
