#tix {
  color: $color-black;

  .tix-ticket-title {

  }

  .tix-ticket-excerpt {
    color: $color-black70;
    font-size: 12px;

    @include mq(md) {
      font-size: 14px;
    }
  }

  input[type="submit"] {
    width: 120px;
    height: 48px;
    text-align: center;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    line-height: 48px;
    background-color: #fd9535;
    box-shadow: 0 3px 0 #d27d00;
    color: #fff !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-size: 15px;
    font-weight: bold;
    padding: 0 2em;
    border-radius: 24px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    margin: 0 auto;
    border: 0;

    @include mq(sm){
      font-size: 16px;
      width: 138px;
    }

    @include mq(md){
      font-size: 18px;
      width: 144px;
    }

    @include mq(lg){
      font-size: 19px;
      width: 152px;
    }

    a:link, a:visited {
      color: $color-white;
      text-decoration: none;
    }
    &:hover, &:active{
      -webkit-transform: translate3d(0px, 3px, 1px);
      transform: translate3d(0px, 3px, 1px);
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
