

//
// Container
//
.site-header{
}

.site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

//
//
//
.main-navigation{
  /*
  position: absolute;
  top: $header-gap;
  left: $content-gap;
  */
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 9999;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: flex-end;
  right: 0;
  width: 100%;
  flex-wrap: nowrap;

  //box-shadow: 0 3px 3px rgba(0,0,0,.26);
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);

}

//
// Toggle Button
//
.menu-toggle{
  position: relative;
  display: block;
  @include mq(lgm){
    display: none;
  }
  height: $navigation-height;
  width: $navigation-height;
  @extend %text-indent-far;
  background: $color-white;
  color: $color-white;
  overflow: hidden;
  border: none;
  padding: 0;
  line-height: 1;
  .toggled-on{
    background-color: $color-black;
  }
  &:after {
    text-indent: 0;
    content: "\f0c9";
    .toggled-on &{
      content: "\f00d";
    }
    font-family: "FontAwesome";
    font-size: 16px;
    color: $color-blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//
// Branding
//
.site{
  position: relative;
  z-index: 0;
  &-header{
    /* height: $header-height; */
    /* border-bottom: $header-border; */
    position: relative;
    box-sizing: content-box;

    z-index: auto;

    body.home &{
      /* border-bottom: none; */
      /* box-shadow: 0 3px 3px rgba(0,0,0,.26); */
    }

  }
  &-branding{

  }
  &-title{

  }
  &-description{
    @extend .screen-reader-text;
  }
}

body.page-slug-tickets{
  #menu-item-807 {
    display: none !important;
  }
}

//
// Global navigation for wide screen.
//
@include mq(lgm){
  .menu-all-pages-container{
    position: relative;
    width: auto;
    .menu{
      @include clearfix();

      #menu-item-807{
        display: none;
        height: $navigation-height;
        background: #fff;
        @include mq(xl){
          display: block;
        }
        & > a {
          width: 88px;
          height: 40px;
          text-align: center;
          -webkit-box-sizing: content-box;
          box-sizing: content-box;
          line-height: 40px;
          background-color: #fd9535 !important;
          box-shadow: 0 2px 0 #d27d00;
          color: #fff !important;
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
          font-size: 14px;
          font-weight: 700;
          padding: 0 2em;
          border-radius: 24px;
          transition: 0.2s ease-in-out;
          text-decoration: none;
          margin: 5px 8px 0 8px;
          z-index: -1;

          a:link, a:visited {
            color: $color-white;
            text-decoration: none;
          }
          &:hover, &:active{
            -webkit-transform: translate3d(0px, 2px, 1px);
            transform: translate3d(0px, 2px, 1px);
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }

      & > .current-menu-item {
        & > a {
          background: linear-gradient(transparent 93%, $color-blue 93%) !important;
          &:hover, &:active{
            color: $color-white;
            background: $navigation-link-bg !important;
            text-decoration: none;
          }
        }
      }

      & > .current_page_item {
        & > a {
          background: linear-gradient(transparent 93%, $color-blue 93%) !important;
          &:hover, &:active{
            color: $color-white;
            background: $navigation-link-bg !important;
            text-decoration: none;
          }
        }
      }

      & > .menu-item-has-children {
        & > a {
          padding: 0 20px !important;

          &:hover + .dropdown-toggle:after {
            color: $color-white !important;
          }
        }
      }

      & > li{
        float: left;
        display: inline-block;
        position: relative;
        & > a{
          display: inline-block;
          height: $navigation-height;
          line-height: $navigation-height;
          padding: 0 $content-gap;
          float: left;
          font-weight: bold;
          font-size: $navigation-font-size;
          &:link, &:visited{
            color: $color-black;
            text-decoration: none;
            background: rgba( 255, 255, 255, 1 );
          }
          &:hover, &:active{
            color: $color-white;
            background: $navigation-link-bg;
            text-decoration: none;
          }
        }
      }
      & > li:last-of-type {
        .sub-menu {
          left: 0;
          left: auto;
          z-index: 2;
        }
      }
      .dropdown-toggle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
        &:after{
          font-size: 14px;
          line-height: 1;
          vertical-align: middle;
          content: "\f0d7";
          font-family: "FontAwesome";
          color: $color-blue;
        }
      }
    }
    .sub-menu{
      display: none;
      position: absolute;
      top: $navigation-height;
      border-top: 1px solid #e6e6e6;
      left: 0;
      box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
      z-index: -1;

      li{
        display: block;
        //border-bottom: 1px solid $color-white;
        border-bottom: 1px solid #e6e6e6;
        width: 300px;
        &:last-child{
          border-bottom: none;
        }
        ul{
          display: none;
        }
      a{
        display: block;
        line-height: $navigation-height;
        font-size: $navigation-font-size;
        padding: $content-gap;
        line-height: 1.6;
        &:link, &:visited{
          background: $navigation-link-bg;
          color: $color-white;
          text-decoration: none;
        }
        &:hover, &:active{
          background: $color-gray;
          text-decoration: none;
          color: $color-black;
        }
      }
      }
    }
    &.dropdown-toggle + .sub-menu,
    li:hover .sub-menu{
      display: block;
    }
  }
}

@include mq(lgm, max, true){
  .menu-all-pages-container{
    display: none;
    .toggled-on &{
      display: block;
    }
    position: absolute;
    top: $header-height + 4;
    body.home &{
      top: $header-height;
    }
    z-index: 99;
    right: 8px;
    width: 300px;
    width: 90vw;
    background: $color-black;
    padding: 10px 0;
    &:before{
      $navigation-ticker-width: 10px;
      content: "";
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      right: $navigation-height / 2 - $navigation-ticker-width / 2 - 8 ;
      top: $navigation-ticker-width * -2;
      border: $navigation-ticker-width solid transparent;
      border-right-width: 5px;
      border-left-width: 5px;
      border-bottom-color: $color-black;
    }
    button{
      display: none;
    }
    a{
      display: block;
      height: $navigation-height - 16;
      line-height: $navigation-height - 16;
      padding: 0 $content-gap;
      font-weight: bold;
      font-size: 14px;
    }
    li li a{
      height: $navigation-height - 16;
      line-height: $navigation-height - 16;
      padding: 0 $content-gap * 1.5;
      font-weight: normal;
      font-size: $navigation-font-size;
      &:before{
        content: "- ";
        display: inline;
      }
    }
    a:link, a:visited{
      color: $color-white;
      background-color: $color-black;
      text-decoration: none;
    }
    a:hover, a:active{
      background-color: $color-gray;
      color: $color-black;
      text-decoration: none;
    }

  }

}
