.site-header > .custom-header {
  display: none;
}

/*
body:not(.home) #header-widget-1 .custom-header-media {
  display: none;
}
*/

#header-widget-1 {

  .custom-header {
    position: relative;
    margin: 0 !important;
    display: table;
    height: 300px;
    height: 75vh;
    width: 100%;

    @include mq(md) {
      display: block;
      height: auto;
    }

    .custom-header-media {
      bottom: 0;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      @include mq(md) {
        height: 165px;
        position: relative;
        height: 0;
        position: relative;

        height: 1200px;
        height: 100vh;
        max-height: 100%;
        overflow: hidden;

        height: calc(100vh - 32px);
      }

      &:before {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+75 */
        background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#4d000000", GradientType=0); /* IE6-9 */
        bottom: 0;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 2;

        @include mq(md) {
          height: 33%;
        }
      }

      img {
        position: fixed;
        height: auto;
        left: 50%;
        max-width: 1000%;
        min-height: 100%;
        min-height: 100vh;
        min-width: 100%;
        min-width: 100vw; /* vw prevents 1px gap on left that 100% has */
        width: auto;
        top: 50%;
        padding-bottom: 1px; /* Prevent header from extending beyond the footer */
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);

        @supports ( object-fit: cover ) {
              height: 100%;
              left: 0;
              -o-object-fit: cover;
              object-fit: cover;
              /* top: 0; */
              top: 0;
              -ms-transform: none;
              -moz-transform: none;
              -webkit-transform: none;
              transform: none;
              width: 100%;
        }

      }
    }
  }


  .site-branding {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
  }

  .site-branding {
    padding: 1em 0;
    position: relative;
    -webkit-transition: margin-bottom 0.2s;
    transition: margin-bottom 0.2s;
  }

  .site-branding a {
    text-decoration: none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }

  .site-branding a:hover,
  .site-branding a:focus {
    opacity: 0.7;
  }

  .site-branding {
    display: block;
    position: absolute;
    height: auto !important;
    top: $navigation-height;
    left: 3%;
    width: 100%;

    @include mq(md) {
      top: $navigation-height + 10;
      left: 3%;
    }

    @include mq(lg) {
      left: 5%;
    }

    @include mq(xl) {
      left: 10%;
    }

    .site-title {
      > a {
        display: block;
        background-image: url("#{$img-path}header-logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 186px;
        text-indent: -9999px;
        max-width: 100%;
        position: relative;
        z-index: 100;

        @include mq(sm) {
          width: 300px;
          height: 276px;
        }

        @include mq(md) {
          width: 400px;
          height: 371px;
        }

      }
    }

    .site-description {
      display: none;
    }

  }


  .site-wapuu {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 3%;

    @include mq(md) {
      right: 3%;
      bottom: 20px;
    }

    @include mq(lg) {
      right: 5%;
    }

    & > a {
      display: block;
      position: relative;
      z-index: 101;
      width: 270px;
      height: auto;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;

      &:hover, &:active{
        transform: scale(1.05);
      }

      @include mq(sm) {
        width: 370px;
      }

      @include mq(md) {
        width: 470px;
      }

      @include mq(lg) {
        width: 500px;
      }

    }

    .wapuu {
      animation: img-site-wapuu 3s infinite linear;
      transform-origin: 50% 50%;
    }

  }
}

@keyframes img-site-wapuu {
  0% { transform: translateY(0) }
  33.33333% { transform: translateY(-10px) }
  66.66667% { transform: translateY(-5px) }
  100% { transform: translateY(0) }
}

@media screen and (min-width: 768px) {
  body:not(.home) {
    #header-widget-1 {
      .custom-header {
        .custom-header-media {
          max-height: calc(80vh - 32px);
        }
      }
    }
  }
}
