


.site-main {
  margin-bottom: 50px;
}

.site-content {
  position: relative;
  z-index: 100;
  background: #fff;
}

/*
body:not(.home) .site-content {
  z-index: 0;
}
*/

// Main content
article.hentry, article.error404 {
   margin: 0 auto;
   > :last-child {
     margin-bottom: 48px;
   }
}
.entry{

  &-header{
    background: $color-gray;
    padding-top: 24px;
    padding-bottom: 26px;
    position: relative;
    /* z-index: 1; */

    &::after {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 14px 0 14px;
      border-color: $color-blue transparent transparent transparent;
    }

    @include mq(md){
      padding-top: 26px;
      padding-bottom: 32px;
    }

    a {
      text-decoration: none;
      color: $color-black;

      &:hover, &:active, &:focus {
        text-decoration: underline;
      }
    }
  }

  &-title{
    @extend .content-box;

    font-size: 20px;
    font-weight: bold;
    line-height: 1.333;
    margin: 0 auto 30px;

    @include mq(md){
      font-size: 24px;
    }
  }

  &-content {
    @extend .content-box;

    padding-top: 32px;
    margin: 0 auto;
    // Avoid more tag link bug
    overflow: visible;
    margin-bottom: 48px;

    .more-link {
      @extend .button-primary;
      margin: 16px 0;
    }
  }

  &-meta,
  &-footer
  {
    @extend .content-box;
    margin: 0 auto;
    font-size: 12px;
    color: #777777;

    span {
      font-weight: bold;
      &:not(:last-of-type) {
        margin-right: 12px;
      }
    }

    time {
      font-weight: bold;
    }

    a {
      color: $color-blue;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

footer.entry-meta{
  font-size: 14px;
  a {
    color: $color-blue;
  }
}


.comments-area {
  @extend .content-box;
  margin: auto;
}

.page{

  &-header {
    padding: 32px 0 34px;
    text-align: center;
    .error-404 & {
      @extend .entry-header;
    }
  }

  &-title{
    color: $color-black;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    @extend .content-box;
    margin: auto;
    text-align: left;

    @include mq(md){
      font-size: 24px;
      text-align: center;
    }
  }

  &-content{
    @extend .entry-content;
  }
}

/*
body:not(.home) .site-info:before {
  position: absolute;
  bottom: 100%;
  right: 0;
  content: "";
  display: block;
  background-size: contain;
  background-image: url(https://2018.ogijima.wordcamp.org/files/2018/04/wapuu.png);
  background-repeat: no-repeat;
  height: 26.6vw;
  width: 25vw;
}
*/

body.page-slug-tickets {
  .site-content {
    margin: $navigation-height 0 0 0;
  }
}


body.page-slug-schedule {
  .entry{

    &-title{
      max-width: 960px;
    }

    &-content {
      max-width: 960px;
    }

    &-meta,
    &-footer
    {
      max-width: 960px;
    }
  }

  .comments-area {
    max-width: 960px;
  }

  .page{

    &-title{
      max-width: 960px;
    }

    &-content{
      max-width: 960px;
    }
  }

}
