.nav {
  &-links {
    max-width: $content-width;
    padding: 0 16px;
    margin: 0 auto 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;

    a {
      color: $color-blue;
      text-decoration: none;
      line-height: 1.5;
      font-weight: bold;
      font-size: 16px;

      &:hover, &:active {
        text-decoration: underline;
      }
    }
  }
  &-previous,
  &-next {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    /*
    @include mq(lg){
      flex-basis: 50%;
    }
    */
    box-sizing: border-box;
  }
  &-previous + &-next {
    border-top: 4px solid $color-gray;
    padding-top: 26px;

    /*
    @include mq(lg){
      border-top: 0;
      padding-top: 0;
      //border-left: 4px solid $color-gray;
      padding-left: 8px;
      }
      */
  }

  &-previous {
    padding-bottom: 24px;
    /*
    @include mq(lg){
      padding-bottom: 0;
      padding-right: 8px;
    }
    */

    &::before {
      //color: $color-blue;
      color: #777777;
      content: "\f0a8";
      font-family: FontAwesome;
      display: inline-block;
      margin-right: 16px;
      font-size: 18px;
    }
  }
  &-next {
    justify-content: flex-end;
    &::after {
      //color: $color-blue;
      color: #777777;
      content: "\f0a9";
      font-family: FontAwesome;
      display: inline-block;
      margin-left: 16px;
      font-size: 18px;
    }
  }
}
